<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Server</title>
</head>
<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    code{
        color:crimson;
    }
</style>
<body>
    <div class="container">
        <h1>Hello from Django backend server!</h1>
        <h2>It works!!!</h2>
        <h2> Go to frontend folder and use <code>npm i</code> and <code> npm start </code> to start task manager!</h2>
        <h2> or use <code> yarn </code> and <code> yarn start </code> if you're using yarn packetmanager</h2>
    </div>
</body>
</html>